<!doctype html>
<!--[if IE 8]><html class='no-js lt-ie9' lang='en'> <![endif]-->
<!--[if IE 9 ]><html class='ie9 no-js'> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class='no-js'> <!--<![endif]-->
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
        <meta name='viewport' content='width=device-width, initial-scale=1' />

        {% comment %} Titles {% endcomment %}
        {% if template == 'index' %}
        <title>{{ shop.name }} &ndash; {{ page_title }}</title>
        {% elsif template == '404' %}
        <title>Page Not Found &ndash; {{ shop.name }}</title>
        {% else %}
        <title>{{ page_title }} &ndash; {{ shop.name }}</title>
        {% endif %}

        {% comment %} Descriptions {% endcomment %}
        {% if page_description %}
        <meta name="description" content="{{ page_description }}" />
        {% endif %}

        {% comment %} Keywords {% endcomment %}
        {% if template == 'product' %}
        <meta name='keywords' content='{% for tag in product.tags %}{{tag}}, {% endfor %}' />
        {% else %}
        <meta name='keywords' content='{{ settings.meta_keywords }}'>
        {% endif %}

        {% comment %} Canonical {% endcomment %}
        <link rel='canonical' href='{{ canonical_url }}' />

        {% comment %} Site Map {% endcomment %}
        <link rel='sitemap' type='application/xml' title='Sitemap' href='/sitemap.xml' />

        {% comment %} Open Graph {% endcomment %}
        {% if template == 'product' %}
        <meta property='og:title' content='{{ product.title }}' />
        <meta property='og:type' content='website' />
        <meta property='og:url' content='{{ product.url }}' />
        <meta property='og:image' content='{{ product.featured_image | product_img_url: 'medium' }}' />
        <meta property='og:site_name' content='{{ product.title }}' />
        <meta property='og:description' content='{{ product.description }}' />
        {% else %}
        <meta property='og:title' content='{{ shop.name }}' />
        <meta property='og:type' content='website' />
        <meta property='og:url' content='{{ shop.url }}' />
        <meta property='og:image' content='{{ logo.png | asset_url }}' />
        <meta property='og:site_name' content='{{ shop.name }}' />
        <meta property='og:description' content='{{ shop.description }}' />
        {% endif %}

        {% comment %} Stylesheets {% endcomment %}
        {{ 'store.css' | asset_url | stylesheet_tag }}
        {% comment %} Favicons {% endcomment %}
        <link rel='apple-touch-icon-precomposed' sizes='114x114' href='assets/apple-touch-icon-114x114-precomposed.png'>
        <link rel='apple-touch-icon-precomposed' sizes='72x72' href='assets/apple-touch-icon-72x72-precomposed.png'>
        <link rel='apple-touch-icon-precomposed' href='assets/apple-touch-icon-precomposed.png'>
        <link rel='shortcut icon' href='assets/favicon.ico' />

        {{ content_for_header }}

        <!--[if lt IE 9]>
        <script src='//html5shiv.googlecode.com/svn/trunk/html5.js'></script>
        <script>window.html5 || document.write('<script src='js/html5shiv.js'><\/script>')</script>
        <![endif]-->

    </head>
    <body>

        {% comment %} Chromeframe {% endcomment %}
        <!--[if lt IE 7]>
        <p class='chromeframe'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> or <a href='http://www.google.com/chromeframe/?redirect=true'>activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        {% comment %} Header {% endcomment %}
        <header role="header">

            {% comment %} Logo {% endcomment %}
            <h1>
                {% if settings.image_logo %}
                <a href="/" class="logo">
                    {{ 'store_logo.png' | asset_url | img_tag: shop.name }}
                </a>
                {% else %}
                <a href="/" class="logo">
                    {{ shop.name }}
                </a>
                {% endif %}
            </h1>

            {% comment %} Main Nav {% endcomment %}
            <nav role="navigation">
                <ul>
                    {% for link in linklists.main-menu.links %}
                    <li>
                        <a href="{{ link.url }}" title="{{ link.title }}" {% if link.active %}class="active"{% endif %}>{{ link.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>

        </header>

        {% comment %} Main Content {% endcomment %}
        <main role="main">
            {{ content_for_layout }}
        </main>

        {% comment %} Footer {% endcomment %}
        <footer role="footer">

            {% comment %} Basic Links {% endcomment %}
            {% if linklists.footer.links.size > 0 %}
            <ul>
                {% for link in linklists.footer.links %}
                <li>
                    <h5>{{ linklist.title }}</h5>
                </li>
                <li>
                    <a href="{{ link.url }}" title="{{ link.title }}" {% if link.active %}class="active"{% endif %}>{{ link.title }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}

            {% comment %} Copyright {% endcomment %}
            <p>Copyright &copy; {{ "now" | date: "%Y" }} {{ shop.name }}.</p>
            <p>{{ powered_by_link }}.</p>

        </footer>

        {% comment %} Zepto.js {% endcomment %}
        <script>
            document.write('<script src=' +
            ('__proto__' in {} ? '\/\/cdnjs.cloudflare.com\/ajax\/libs\/zepto\/1.0rc1\/zepto.min' : '\/\/cdnjs.cloudflare.com\/ajax\/libs\/jquery\/1.9.1\/jquery.min') +
            '.js><\/script>');
        </script>
        {{ 'store.js'  | asset_url | script_tag }}

    </body>
</html>