{% assign page = pages.frontpage %}
{{ page.content }}
{% assign collection = collections.frontpage %}
<h2>{{ collection.title }}</h2>
{% for product in collection.products %}
<a href="{{ product.url }}">
    <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" />
</a>
<h3>
    <a href="{{ product.url }}">{{ product.title }}</a>
</h3>
{{ product.description }}
{% else %}
<p>You have no products in your Frontpage collection. <a href="http://www.shopify.com/admin/custom_collections">Add some.</a></p>
{% endfor %}
