<h2>{{ product.title }}</h2>

{% comment %} Featured Image {% endcomment %}
<img src="{{ product.featured_image.src | product_img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}" />

{% comment %} Thumb Images {% endcomment %}
{% if product.images.size > 1 %}
{% for image in product.images offset:1 %}
<img src="{{ image.src | product_img_url: 'compact' }}" alt="{{ image.alt | escape }}" />
{% endfor %}
{% endif %}

{{ product.description }}

<form action="/cart/add" method="post" enctype="multipart/form-data">
    {% if product.variants.size > 1 %}
    <select name="id">
        {% for variant in product.variants %}
        {% if variant.available == true %}
        <option value="{{variant.id}}"> {{ variant.title }} for {{ variant.price | money_with_currency }} </option>
        {% else %}
        <option disabled="disabled"> {{ variant.title }} - sold out! </option>
        {% endif %}
        {% endfor %}
    </select>
    {% else %}
    <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
    {% endif %}
    <input type="submit" name="add" id="add" value="Add to Cart" class="button">
</form>
